<div class="container">
  <div class="row">
    <form name="user" class="form-group center-block" ng-submit="vm.getUser()">
      <div class="input-group">
        <div class="input-group-btn">
          <label class="btn btn-primary" ng-model="vm.user.platform" btn-radio="1">Xbox</label>
          <label class="btn btn-primary" ng-model="vm.user.platform" btn-radio="2">PlayStation</label>
        </div>
        <input type="text" name="userName" class="form-control" ng-model="vm.user.name" placeholder="Username" required autofocus>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-4" ng-repeat="character in vm.characters">
      <div class="col-md-12" style="background: transparent url({{vm.bungie + character.backgroundPath}}) no-repeat;">
        <img class="img-responsive col-md-4" ng-src="{{vm.bungie + character.emblemPath}}">
        <h1 class="col-md-4 col-md-offset-4" style="color: white;">{{character.characterLevel}}</h1>
      </div>
    </div>
  </div>
</div>
