.buffer-top-15 {
  padding-top: 15px;
}

.buffer-bottom-0 {
  padding-bottom: 0px;
}

.thumbnail-inventory {
  width: 96px;
  height: 96px;
}

.item-complete {
  border: 3px solid #FFCA00;
}

.node-active {
  .bg-primary;
  height: 48px;
  width: 48px;
}

.node-well {
  .well;
  background-color: #e5e5e5;
  padding-left: 15px;
  padding-right: 15px;
}
