<div class="container">
  <div class="row">
      {{vm.account.inventory.currencies[0].itemHashDefinition.itemName}}: {{vm.account.inventory.currencies[0].value}}
  </div>
  <div class="row">
    <div class="col-md-4" ng-repeat="character in vm.characters">
      <!--Character Headers-->
      <div class="row">
        <div class="col-md-12" style="background: url({{vm.bungie + character.backgroundPath}}) transparent no-repeat;">
          <div class="row">
            <div class="col-xs-3 col-md-5">
              <img class="img-responsive" ng-src="{{vm.bungie + character.emblemPath}}">
            </div>
            <div class="col-xs-9 col-md-7">
              <div class="row">
                <div class="col-xs-3 col-md-3 text-right">
                  <h2 style="color: white;">{{character.characterLevel}}</h2>
                </div>
                <div class="col-xs-9 col-md-9">
                  <h2 style="color: white;">{{character.characterBase.classHashDefinition.className}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Inventory-->
      <div class="row buffer-top-15">
        <!--SubClass-->
        <div class="col-md-12">
          <div class="row" ng-repeat="item in character.characterBase.inventory.subClass">
            <item-display item="item" bungie="vm.bungie" type="'subClass'"></item-display>
          </div>
        </div>

        <!--Weapons-->
        <div class="col-md-12">
          <div class="row" ng-repeat="item in character.characterBase.inventory.weapons">
            <item-display item="item" bungie="vm.bungie" type="weapon"></item-display>
          </div>
        </div>

        <!--Armor-->
        <div class="col-md-12">
          <div class="row" ng-repeat="item in character.characterBase.inventory.armor">
            <item-display item="item" bungie="vm.bungie" type="armor"></item-display>
          </div>
        </div>

        <!--Misc-->
        <h4 class="col-md-12">Misc</h4>
        <div class="col-md-6" ng-repeat="item in character.characterBase.inventory.misc">
          <img class="thumbnail-inventory img-responsive" ng-src="{{vm.bungie + item.itemHashDefinition.icon}}" alt="{{item.itemHashDefinition.itemName}}">
          <div>
            {{item.itemHashDefinition.itemName}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

