<div class="container">
  <div class="row">
      {{vm.account.inventory.currencies[0].itemHashDefinition.itemName}}: {{vm.account.inventory.currencies[0].value}}
  </div>
  <div class="row">
    <div class="col-md-4" ng-repeat="character in vm.characters">
      <!--Character Headers-->
      <div class="row">
        <div class="col-md-12" style="background: url({{vm.bungie + character.backgroundPath}}) transparent no-repeat;">
          <div class="row">
            <div class="col-md-5 col-sm-3">
              <img class="img-responsive" ng-src="{{vm.bungie + character.emblemPath}}">
            </div>
            <div class="col-md-7 col-sm-9">
              <div class="row">
                <div class="col-md-3 col-sm-3 text-right">
                  <h2 style="color: white;">{{character.characterLevel}}</h2>
                </div>
                <div class="col-md-9 col-sm-9">
                  <h2 style="color: white;">{{character.characterBase.classHashDefinition.className}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Inventory-->
      <div class="row">
        <!--SubClass-->
        <h4 class="col-md-12">SubClass</h4>
        <div class="col-md-12" ng-repeat="subClass in character.characterBase.inventory.subClass">
          <div class="media">
            <div class="media-left">
              <img class="media-object inventory-thumbnail" ng-class="{'item-complete': subClass.isGridComplete}"
                   ng-click="subClass.isCollapsed = !subClass.isCollapsed"
                   ng-src="{{vm.bungie + subClass.itemHashDefinition.icon}}" alt="{{subClass.itemHashDefinition.itemName}}">
            </div>

            <div class="media-body">
              <h5 class="media-heading">
                {{subClass.itemHashDefinition.itemName}}
              </h5>
            </div>
          </div>
          <div collapse="subClass.isCollapsed">
            <div class="node-well">
              <small>
                <em>
                  {{subClass.itemHashDefinition.itemDescription}}
                </em>
              </small>
            </div>
          </div>
        </div>

        <!--Weapons-->
        <h4 class="col-md-12">Weapons</h4>
        <div class="col-md-12" ng-repeat="weapon in character.characterBase.inventory.weapons">
          <div class="media">
            <div class="media-left" >
              <img class="media-object inventory-thumbnail" ng-class="{'item-complete': weapon.isGridComplete}"
                   ng-click="vm.itemClick(weapon);"
                   ng-src="{{vm.bungie + weapon.itemHashDefinition.icon}}" alt="{{weapon.itemHashDefinition.itemName}}">
            </div>
            <div class="media-body">
              <h5 class="media-heading">
                  {{weapon.itemHashDefinition.itemName}}
              </h5>
              <div>
                <em>{{weapon.primaryStat.statHashDefinition.statName}}</em>
                {{weapon.primaryStat.value}}
              </div>
            </div>
          </div>
          <div collapse="weapon.isCollapsed">
            <div class="node-well">
              <div class="row">
                <small>
                  <em>
                    {{weapon.itemHashDefinition.itemDescription}}
                  </em>
                </small>
              </div>
              <div class="row">
                <div ng-repeat="stat in weapon.stats">
                  <div>
                    {{stat.statHashDefinition.statName}}
                  </div>
                  <div>
                    <span ng-if="stat.statHashDefinition.statName === 'Magazine'">
                      <progressbar value="stat.value" max="stat.value">
                        <em>{{stat.value}}</em>
                      </progressbar>
                    </span>
                    <span ng-if="stat.statHashDefinition.statName !== 'Magazine'">
                      <progressbar value="stat.value">
                        <em>{{stat.value}}</em>
                      </progressbar>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <table>
                  <tr ng-repeat="column in weapon.talentGridLayout">
                    <td ng-repeat="node in column">
                      <span tooltip="{{node.name}}: {{node.description}}">
                        <span ng-if="node.active">
                          <img class="node-active" ng-src="{{vm.bungie + node.icon}}">
                        </span>
                        <span ng-if="!node.active">
                          <img style="height: 50%; width: 50%;" ng-src="{{vm.bungie + node.icon}}">
                        </span>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!--Armor-->
        <h4 class="col-md-12">Armor</h4>
        <div class="col-md-12" ng-repeat="armor in character.characterBase.inventory.armor">
          <div class="media">
            <div class="media-left">
              <img class="media-object inventory-thumbnail" ng-class="{'item-complete': armor.isGridComplete}"
                   ng-click="armor.isCollapsed = !armor.isCollapsed"
                   ng-src="{{vm.bungie + armor.itemHashDefinition.icon}}" alt="{{armor.itemHashDefinition.itemName}}">
            </div>
            <div class="media-body">
              <h5 class="media-heading">
                {{armor.itemHashDefinition.itemName}}
              </h5>
              <div>
                <div>
                  <em>{{armor.primaryStat.statHashDefinition.statName}}</em>
                  {{armor.primaryStat.value}}
                </div>
                <div ng-repeat="stat in armor.stats">
                  <span ng-if="stat.value > 0">
                    <em>{{stat.statHashDefinition.statName}}</em>
                    {{stat.value}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div collapse="armor.isCollapsed">
            <div class="node-well">
              <div class="row">
                <small>
                  <em>
                    {{armor.itemHashDefinition.itemDescription}}
                  </em>
                </small>
              </div>
              <div class="row">
                <table>
                  <tr ng-repeat="column in armor.talentGridLayout">
                    <td ng-repeat="node in column">
                      <span tooltip="{{node.name}}: {{node.description}}">
                        <span ng-if="node.active">
                          <img class="node-active" ng-src="{{vm.bungie + node.icon}}">
                        </span>
                        <span ng-if="!node.active">
                          <img style="height: 50%; width: 50%;" ng-src="{{vm.bungie + node.icon}}">
                        </span>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!--Misc-->
        <h4 class="col-md-12">Misc</h4>
        <div class="col-md-6" ng-repeat="item in character.characterBase.inventory.misc">
          <img class="inventory-thumbnail img-responsive" ng-src="{{vm.bungie + item.itemHashDefinition.icon}}" alt="{{item.itemHashDefinition.itemName}}">
          <div>
            {{item.itemHashDefinition.itemName}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

