<div class="container">
  <div class="row">
      {{vm.account.inventory.currencies[0].itemHashDefinition.itemName}}: {{vm.account.inventory.currencies[0].value}}
  </div>
  <div class="row">
    <div class="col-md-4" ng-repeat="character in vm.characters">
      <!--Character Headers-->
      <div class="row">
        <div class="col-md-12" style="background: url({{vm.bungie + character.backgroundPath}}) transparent no-repeat;">
          <div class="row">
            <div class="col-md-5 col-sm-3">
              <img class="img-responsive" ng-src="{{vm.bungie + character.emblemPath}}">
            </div>
            <div class="col-md-7 col-sm-9">
              <div class="row">
                <div class="col-md-3 col-sm-3 text-right">
                  <h2 style="color: white;">{{character.characterLevel}}</h2>
                </div>
                <div class="col-md-9 col-sm-9">
                  <h2 style="color: white;">{{character.characterBase.classHashDefinition.className}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Inventory-->
      <div class="row buffer-top-15">
        <!--SubClass-->
        <div class="col-md-12">
          <div class="row" ng-repeat="subClass in character.characterBase.inventory.subClass">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  SubClass - {{subClass.itemHashDefinition.itemName}}
                </div>
                <div class="panel-body">
                  <div class="col-md-4">
                    <img class="thumbnail-inventory" ng-class="{'item-complete': subClass.isGridComplete}"
                         ng-src="{{vm.bungie + subClass.itemHashDefinition.icon}}" alt="{{subClass.itemHashDefinition.itemName}}">
                  </div>
                  <div class="col-md-8">
                    <small>
                      <em>
                        {{subClass.itemHashDefinition.itemDescription}}
                      </em>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Weapons-->
        <div class="col-md-12">
          <div class="row" ng-repeat="item in character.characterBase.inventory.weapons">
            <div class="col-md-12">
              <weapon item="item" bungie="vm.bungie"></weapon>
            </div>
          </div>
        </div>

        <!--Armor-->
        <div class="col-md-12">
          <div class="row" ng-repeat="item in character.characterBase.inventory.armor">
            <div class="col-md-12">
              <armor item="item" bungie="vm.bungie"></armor>
            </div>
          </div>
        </div>

        <!--Misc-->
        <h4 class="col-md-12">Misc</h4>
        <div class="col-md-6" ng-repeat="item in character.characterBase.inventory.misc">
          <img class="thumbnail-inventory img-responsive" ng-src="{{vm.bungie + item.itemHashDefinition.icon}}" alt="{{item.itemHashDefinition.itemName}}">
          <div>
            {{item.itemHashDefinition.itemName}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

