<div class="row">
  <div class="col-md-12" style="background: url({{bungie + character.backgroundPath}}) transparent no-repeat;">
    <div class="row">
      <div class="col-xs-3 col-md-4">
        <img class="img-responsive" ng-src="{{bungie + character.emblemPath}}">
      </div>
      <div class="col-xs-9 col-md-8">
        <div class="row">
          <div class="col-xs-3 col-md-3 text-right">
            <h1 style="color: white;">{{character.characterLevel}}</h1>
          </div>
          <div class="col-xs-9 col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h2 style="color: white;">{{character.characterBase.classHashDefinition.className}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <small style="color: white;"><em>{{character.characterBase.genderHashDefinition.genderName}} // {{character.characterBase.raceHashDefinition.raceName}}</em></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

