<div class="row">
  <div class="col-xs-5 col-md-5">
    <img class="thumbnail-inventory" ng-class="{'item-complete': item.isGridComplete}"
         ng-src="{{bungie + item.itemHashDefinition.icon}}" alt="{{item.itemHashDefinition.itemName}}">
  </div>
  <div class="col-xs-7 col-md-7">
    <div class="row" ng-if="type !== 'subClass'">
      <em>{{item.primaryStat.statHashDefinition.statName}}: {{item.primaryStat.value}}</em>
    </div>
    <div class="row">
      <small><em>{{item.itemHashDefinition.itemDescription}}</em></small>
    </div>
  </div>
  <span ng-if="type === 'subClass'">
    <div class="col-md-12 buffer-bottom-15"></div>
  </span>
</div>
