<accordion-group>
  <accordion-heading>
    Talents
  </accordion-heading>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr ng-repeat="column in item.talentGridLayout">
          <td ng-repeat="node in column">
            <span ng-if="node.active">
              <img class="img-rounded node-active" ng-src="{{bungie + node.icon}}" tooltip="{{node.name}}: {{node.description}}">
            </span>
            <span ng-if="!node.active">
              <img class="img-rounded node-inactive"  ng-src="{{bungie + node.icon}}" tooltip="{{node.name}}: {{node.description}}">
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</accordion-group>

